<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917248790802-e9cns2iqftk9b511k9htlb2593pl5ecp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917248790802-e9cns2iqftk9b511k9htlb2593pl5ecp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdH7Qr8lE8dXBNeeSsx6XW5nm-3qRWNpw</string>
	<key>GCM_SENDER_ID</key>
	<string>917248790802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virgilmartinez.Hydrator</string>
	<key>PROJECT_ID</key>
	<string>hydrator-37907</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrator-37907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917248790802:ios:9ba6cab7ae176061</string>
	<key>DATABASE_URL</key>
	<string>https://hydrator-37907.firebaseio.com</string>
</dict>
</plist>